.page-header
  %h1 Wydarzenia


%table.table.table-bordered
  %tr
    %th Nazwa Wydarzenia
    %th Lokalizacja
    %th Data 
    %th Szczegoly
    %th 
      = render :partial => "event", :collection => @events

- content_for :sidebar do
  .well
    .page-header
      %h2
        = t('defaults.headers.sidebar')
    %ul.nav
      %li
        %i.icon-plus
        = link_to t("events.actions.create_new"), new_event_path
