%h1 Wydarzenia

%table.table.table-bordered
  %tr
    %th Nazwa Wydarzenia
    %th Lokalizacja
    %th Data 
    %th Szczegoly
    %th 
      = render :partial => "event", :collection => @events

.form-actions
  = link_to t("actions.Utworz Wydarzenie"), new_event_path, :class => 'btn btn-primary'
