.page-header
  %h1 Stworz Wydarzenie 

= render 'form'

- content_for :sidebar do
  .page-header
    %h2= t('defaults.header.sidebar')
  %ul.nav
    %li
      = link_to  events_path do
        %i.icon-backward
        = t('default.actions.back')
