.clear {
  height: 1px;
  clear: both;
  overflow: hidden;
}

.navbar {
  .navbar-inner {
    border-radius: 0;
  }
}


.span4 {
  .nav > li > a {
    display: inline-block;
  }
}

.sign-in {
  margin-top: 100px;
}
